
<launch>
<include ns="right" file="$(find opencv_apps)/launch/hough_circles.launch">
	<arg name="image" value="/right/hsv_color_filter/image" />	
</include>

<include ns="left" file="$(find opencv_apps)/launch/hough_circles.launch">
	<arg name="image" value="/left/hsv_color_filter/image" />	
</include>

</launch>
