<launch>

<!--REAL ROBOT OR SIMULATION -->
<!-- Real miro = rob01 | Simulation miro = sim01 -->

<param name="/robot_name" value="rob01" />

<!--NODE RATE-->
<param name = "rate" value="200" />
 
<!-- SPEECH RECOGNITION -->

<include file="$(find speech_interaction)/launch/speech_back_example.launch"/>

<!-- HANDLING COMMANDS -->

<node name="command_activation" pkg="command_handler" type="command_activation.py" />
<node name="command_recognition" pkg="command_handler" type="command_recognition.py" output = "screen"/>

<!-- ACTIONS -->
<include file="$(find actions)/launch/actions.launch" />

</launch>
